%label
  Additional settings:

= simple_form_for Environment.new, url: update_code_path do |f|
  = simple_fields_for :test do |sf|
    = sf.select :tag, Tag.all.map(&:name)

    %div
  = f.submit 'Update'