%div{:style => 'float: left', :width => '28%'}
  %div
    = render partial: 'run_test'

  %hr  
  %div{:style => 'padding-left: 10px;'}
    = render partial: 'update_code'
    
  %hr
  %div
    = render partial: 'stop_test'

.report
  %iframe.listreport{scrolling: 'auto', src: 'list'}

