// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
  background: url("bg-top-nav.png") repeat scroll 0 0 black;
}

.header {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  margin: 60px auto 1px;
  padding: 10px;
  width: 940px;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding-bottom: 0;
}

.logo {
  background: url("bg-header.png") repeat scroll 0 0 black;
  border-radius: 5px 5px 0 0;
  border-color: #000000 #000000 -moz-use-text-color;
  border-width: 1px 1px medium;
  height: 74px;
  padding: 0 10px;
}

.content {
  background: none repeat scroll 0 0 #B6B6B6;
}

html, body, div {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  vertical-align: baseline;
}

.content-wrapper {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  width: 940px;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 auto 1px;
  height: 100%;
}

.border-wrapper{
  border-left: 1px solid #B1B1B1;
  border-right: 1px solid #B1B1B1;
  height: 100%;
}

.main_content {
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  position: relative;
  min-height: 645px;
  padding-bottom: 1px;
}

.main_content_create {
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  position: relative;
  padding: 0px 0px 10px;
}

.footer {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  width: 940px;
  padding: 10px;
  padding-top: 0;
  margin: 0 auto 1px;
  border-radius: 0px 0px 5px 5px;
}

.bottom_footer {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 0px 0px 5px 5px;
}

.notified {
  color: white; 
  text-align: center; 
  font-size: 14px; 
  padding-top: 2px;
  line-height: 5px;
}

.report {
  float: right; 
  padding-top: 20px; 
  border-left: 1px solid gray; 
  width: 70%; 
  height: 580px; 
  padding-left: 10px;
}

.listreport {
  width: 95%; 
  height: 95%; 
  border: medium none;
}

.small_text {
  color: gray;
}

.counts {
  margin-left: 10px;
  width: 40px;
}

form {
  padding: 10px;
}

.tabs-wrapper {
  background: #F2F2F2;
  border-bottom: 1px solid #B1B1B1;
  margin: 0 1px;
  height: 46px;
}

.tab_navigation {
  font-size: 16px;
  list-style: none;
  margin: 0 0 -1px 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.tab_navigation li {
  float: left;
  margin: 0;
  padding: 3px;
  position: relative;
  border-bottom: solid 1px #B1B1B1;
  border-right: solid 1px #B1B1B1;
  height: 40px;
  background: #DBDBDB;
}

.tab_navigation div {
  background: white;
  border-bottom: solid 1px white;
  margin: -3px;
  height: 46px;
  line-height: 43px
}

.tab_navigation a, .tab_navigation div {
  color: #39393B;
  cursor: pointer;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  line-height: 40px;
}

.tab_navigation li a, .tab_navigation li div {
  width: auto;
  padding: 0 15px;
  color: #39393B;
  text-decoration: none;
}

table tr {
  font-size: 15px;
}

.log {
  float: right;
  font-size: 15px;
}
